

 .link {
  padding: 0px;
  height: 203px;
  width: 200px;
  margin-top: -75px;
 }

 .SIGG{
    margin-top: -32px;
    font-size: 11px;
    margin-left: 66px;
    font-weight: 700;
    cursor: pointer;;

 }